<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Socket.IO chat</title>
    <meta name="description" content="SpaceInvaders versus">
    <html lang="en"></html>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/nasaInfo.css">
    <link rel="stylesheet" type="text/css" href="css/game.css">
</head>
  <body>
    <main id="gamePage">
      <section>test</section>
    </main>
    
    <script src="js/lib/SocketIO.js"></script>
    <script type="module" src="js/App.js"></script>
  </body>
</html>