section{
    margin-left: 1rem;
}

main>section:nth-child(1)>*:nth-child(1) {
    margin: 0;
}

form{
    margin-top: 0.1rem;
}

input{
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5rem;
}