/* STATIC CHANGES */

body{
  font-size: 2rem;
  margin: 0.2rem 0 0 0;
  background-image: url("../img/background.jpg");
  color: wheat;
}

img{
  max-width: 100%;
  max-height: 68vh;
  margin-top: 9px;
}

p, span{
  margin: 0;
  color: wheat;
}

a{
  color: rgba(0, 240, 240, 1);
  text-decoration: none;
}

.left{
  float: left;
}

.right{
  float: right;
}

.button{
  background-color: rgba(255, 0, 255, 0.22);
  border: 2px solid #ffa600;
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 4rem;
  min-width: 38%;
  text-align: center;
}

/* WEBPAGE */

main{
  max-height: 100vh;
}

/* Image description container */
main>section:nth-child(1)>*:nth-child(1){
  margin-left: 1rem;
}

main>section:nth-child(3)>a{
  z-index: -1000;
}

/* images */
main>section:nth-child(3)>a>img:not(:first-child){
  display: none;
}

/* Image description container */
main>section:nth-child(4){

}

/* Image description text */
main>section:nth-child(4)>p{
  max-width: 49%;
  margin-left: 1rem;
}

