@supports(display: flex){
    .left, .right{
        float: none;
    }

    .button{
        margin: 0;
    }

    /* first section element should not be flex */
    main>section:not(:nth-child(1)){
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-evenly;
    }

    /* Image description text */
    main>section:nth-child(4)>p{
        max-width: 100%;
        margin-left: 0;
    }
}