#nasaInfoPage>section{
    display: flex;
}

#nasaInfoPage>section:nth-child(1){
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

#nasaInfoPage>section:nth-child(2){
    justify-content: center;
}


